@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<div class="IndexDiv">
    <p><h1 class="text-center font-weight-bolder">Bank  Tranctions</h1></p>
    <div class="row m-2">

        <div class="col-8">
            <p><h2>Bank Transcation process</h2></p>
        </div>
        <div class="col-4">
            <img src="~/images/Bank.jpg" class="img-fluid" />
        </div>
    </div>
</div>
