html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}
.IndexDiv {
    position: fixed;
    background: linear-gradient(to right,#C4E0E0,#C4E0F9);
    top: 8%;
    left: 0;
    min-height: 85%;
    min-width: 100%;
}


.CenteredContainer {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

    .CenteredContainer form {
        background: linear-gradient(to left,#28347d,#19767D);
        padding: 3em;
        border-radius: 20px;
        width: 500px;
        margin-left: -42px;
        grid-auto-flow:row;
    }

        .CenteredContainer form a {
            text-decoration: none;
            color: white;
            font-size: 15px;
        }

            .CenteredContainer form a:hover {
                text-shadow: 2px 2px 6px #000040;
            }

        .CenteredContainer form input {
            border-radius: 20px;
        }

        .CenteredContainer form .btn {
            width: 150px;
            font-size: 1em;
            margin-bottom : 73px;
        }

        .CenteredContainer form:hover {
            margin: 8px;
        }

    .CenteredContainer a, input:focus, submit:focus, button:focus {
        outline: none;
        margin: 2px;
    }
.CodesTable table {
    width: 100%
}

.CodesTable thead {
    width: calc(100%-1em);
}
.label-wrapper {
    text-align: left;
}
.form-container {
    border: 2px solid black; 
    border-radius: 10px; 
    padding: 20px;
    margin-top: 83px;
}
